if has keychain-env; then
  export PETRAM_ANDROID_KEYSTORE="$(pwd)"/keystores/Petram.jks
  export PETRAM_ANDROID_KEYSTORE_PASSWORD="$(PETRAM_ANDROID_KEYSTORE_PASSWORD)"
  export PETRAM_ANDROID_KEYSTORE_KEY_PASSWORD="$(PETRAM_ANDROID_KEYSTORE_KEY_PASSWORD)"
  export PETRAM_ANDROID_KEYSTORE_KEY_ALIAS="key0"

  export BUILDFIRE_ANDROID_KEYSTORE="$(pwd)"/keystores/KaleoApps.keystore
  export BUILDFIRE_ANDROID_KEYSTORE_PASSWORD="$(BUILDFIRE_ANDROID_KEYSTORE_PASSWORD)"
  export BUILDFIRE_ANDROID_KEYSTORE_KEY_PASSWORD="$(BUILDFIRE_ANDROID_KEYSTORE_PASSWORD)"
  export BUILDFIRE_ANDROID_KEYSTORE_KEY_ALIAS="kaleoapps"

  export FASTLANE_PASSWORD=$(keychain-env get "FASTLANE_PASSWORD")
  export MATCH_PASSWORD="$(MATCH_PASSWORD)"
fi

use flake
